/****  GLOBAL  ****/
body {
  background-color: black;
}
button {
  cursor: pointer;
}
.header {
  margin: 40px 0px 10px 40px;
  color: rgb(0, 255, 0);
}

/** LAYOUT **/
.page {
  display: grid;
  grid-template-columns: 30% 68%;
}
.columnOne {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  -ms-overflow-style: none;  /* Hide scroll bar in zoom IE and Edge */
  scrollbar-width: none;  /* Hide scroll bar in zoom Firefox */
}
.columnOne::-webkit-scrollbar {
  display: none; /* Hide scroll bar in zoom */
}


/****  COLUMN ONE  ****/
/** PROFILE **/
.profilePicture {
  margin: 30px 0px 0px 30px;
  max-height: 200px;
  max-width: 200px;
  border: 2px solid rgb(0, 255, 0);
  border-radius: 50px;
}
.name {
  font-size: 40px;
  color: rgb(0, 255, 0);
  margin: 0px;
  padding: 0px;
}
.title {
  font-size: 20px;
  color: rgb(0, 255, 0);
  margin: 0px 0px 20px 20px;
  padding: 0px;
}
.black {
  color: black;
}
.nameBox {
  display: grid;
  grid-template-columns: auto auto;
  width: fit-content;
  padding: 0px;
  margin: 0px;
  align-items: center;
}
.block {
  font-size: 40px;
  margin: 0px;
  padding: 0px;
}
.altBlock {
  font-size: 20px;
  margin: 0px;
  padding: 0px;
}

/** CONTACT CARD **/
.contactCard {
  padding: 0px;
  margin-top: 10px;
}
.contactBox {
  display: grid;
  grid-template-columns: auto auto;
  width: fit-content;
  padding: 0px;
  margin-top: 5px;
  align-items: center;
}
.location, .telephone, .email, .linkedIn, .github, .skillsList {
  font-size: 20px;
  color: rgb(0, 255, 0);
  margin: 0px;
  margin-left: 15px;
  padding: 0px;
}

/** SKILLS LIST **/
.skillsList {
  display: grid;
  grid-template-columns: 35% 35%;
}


/****  COLUMN TWO  ****/
/** SECTION TABS LAYOUT **/
.sectionTabs {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  margin: 0px;
  margin-top: 30px;
  padding: 0px;
}
.sectionTab {
  border: 2px solid black;
  border-left: 0;
  border-right: 1px solid black;
  border-bottom: 2px solid rgb(0, 255, 0);
  border-radius: 10px 10px 0px 0px;
  color: white;
  background-color: rgb(61, 61, 61);
  height: 50px;
  padding: 0px;
  margin: 0px;
  cursor: pointer;
}
.activeSectionTab {
  border: 2px solid rgb(0, 255, 0);
  border-bottom: 0;
  border-radius: 10px 10px 0px 0px;
  color: white;
  background-color: black;
  height: 50px;
  padding: 0px;
  margin: 0px;
}

/** SECTION LAYOUT **/
.section {
  border: 2px solid rgb(0, 255, 0);
  border-top: 1px solid black;
  color: rgb(0, 255, 0);
  min-height: 1000px;
  margin: 0px;
  padding: 20px;
}
.appDescription {
  margin-left: 40px;
}
.cert {
  margin-left: 40px;
  width: 100px;
  cursor: pointer;
}
.certZoom {
  width: 90%;
  cursor: pointer;
}

/** TECHNICAL SKILLS **/
.skillsSection {
  display: grid;
  grid-template-columns: 20% 80%;
}
/* SKILL TABS LAYOUT / COLUMNONE */
.skillTabs {
  margin: 0px;
  padding: 0px;
}
.skillTab {
  border: none;
  border-radius: 10px 0px 0px 10px;
  color: white;
  background-color: rgb(61, 61, 61);
  width: 100%;
  height: 50px;
  padding: 0px;
  margin: 0px;
}
.activeSkillTab {
  border: none;
  border-radius: 10px 0px 0px 10px;
  width: 100%;
  color: white;
  background-color: rgb(37, 37, 37);
  height: 50px;
  padding: 0px;
  margin: 0px;
}
/* COLUMNTWO */
.skillColumnTwo {
  padding: 0px 30px;
  background-color: rgb(37, 37, 37);
  border-radius: 0px 10px 10px 10px;
  min-height: 1000px;
}
.skillTitle {
  text-align: center;
}
/* SKILL WIDGETS */
.widget {
  margin-right: 10%;
}
.counterWidgets {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}
.databaseWidgets {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}
.crudOperations {
  height: 100px;
  overflow-x: auto;
}
.pyramidWidgets {
  display: flex;
  max-height: 600px;
  overflow-x: auto;
  padding-bottom: 20px;
}
.checkersWidget {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  -ms-overflow-style: none;  /* Hide scroll bar in zoom IE and Edge */
  scrollbar-width: none;  /* Hide scroll bar in zoom Firefox */
}
.checkersWidget::-webkit-scrollbar {
  display: none; /* Hide scroll bar in zoom */
}
/* Modals */
.modalBackground {
  position: fixed;
  top: 0; bottom: 0; left: 0; right: 0;
  background-color: black;
  z-index: 2;
}
.modalBox {
  color: rgb(0, 255, 0);
  display: flex;
  flex-flow: column nowrap;
  padding: 15px;
  margin: 250px 25%;
  box-shadow: 0 4px 20px rgba(0, 255, 0, 1);
  border-radius: 10px;
  text-align: center;
  width: 50%;
}
.modalScroll {
  display: grid;
  max-height: 200px;
  overflow-x: auto;
  margin: 15px 0px;
}
.updateButton {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}
/* PYRAMID DESCENT PUZZLE */
.column {
  display: inline-block;
  width: 50%;
  text-align: center;
}
.pyramidHeader {
  height: 100px;
}
.inputArray, .input, .altInput {
  border-radius: 5px;
  border: 1px solid black;
  margin: 1px;
  padding: 3px;
  width: 199px;
}
.input, .altInput {
  padding: 2px;
  width: 49px;
}
.altInput {
  width: 100px;
}
.button, .altButton {
  color: white;
  background-color: rgb(0, 0, 255);
  border-radius: 5px;
  transition: all 1s;
  margin: 1px;
  padding: 2px;
  width: 105px;
}
.button:hover, .altButton:hover {
  background: rgb(255, 0, 0);
}
.altButton {
  width: 207px;
}
.graphics {
  margin-top: 10px;
}
.treeRow, .list {
  display: flex;
  justify-content: center;
}
.treeNode, .item {
  color: white;
  text-align: center;
  margin: 1px 3px;
  height: 15px;
  width: 15px;
  background-color: rgb(255, 0, 0);
  box-shadow: 0 4px 20px rgba(255, 0, 0);
  cursor: pointer;
  outline: none;
  border-radius: 24px;
  line-height: 1;
  padding: 12px;
}
.item {
  background-color: rgb(0, 0, 255);
  box-shadow: 0 4px 20px rgba(0, 0, 255);
}
/* CHECKERS */
.grid {
  display: grid;
  margin: auto;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  max-width: fit-content;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 1);
}
.piece {
  max-width: 100px;
  max-height: 100px;
}
.redSquare, .blackSquare, .selectedSquare, .selectedPiece {
  cursor: pointer;
  background-image: url('https://michaelgunyanresume.s3.us-west-2.amazonaws.com/images/light.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  height: 50px;
  width: 50px;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blackSquare {
  background-image: url('https://michaelgunyanresume.s3.us-west-2.amazonaws.com/images/dark.jpg');
  cursor: auto;
}
.selectedSquare {
  filter: brightness(70%);
}
.selectedPiece {
  filter: brightness(70%);
  transform: scale(1.2);
  border-radius: 15px;
  z-index: 2;
}
.jumpBackground {
  position: fixed;
  top: 0; bottom: 0; left: 0; right: 0;
  z-index: 2;
}
.formBox {
  color: black;
  display: flex;
  flex-flow: column nowrap;
  padding: 15px;
  margin: 0px 25%;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 1);
  border-radius: 10px;
  text-align: center;
  width: 50%;
}
.jumpBox {
  background-image: url('https://michaelgunyanresume.s3.us-west-2.amazonaws.com/images/nextJump.jpg');
  margin: 25% 25%;
}
.buttonGrid {
  display: flex;
}
.jumpButton {
  padding: 8px 12px;
  margin: 5%;
  border: none;
  border-radius: 6px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 1);
  color: white;
  background-color: transparent;
  cursor: pointer;
  transition: ease-out 0.3s;
  width: 40%;
}
.jumpButton:hover {
  transition: ease-in 0.5s;
  transform: scale(1.2);
}

/****  MISC.  ****/
.flashTab {
  background-color: rgb(0, 255, 0);
  color: black;
}
